<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="listCalculator" lines="none">
    <ion-item>
      <ion-input class="inputNumber" type="number" [(ngModel)]="num1" placeholder="First Number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="inputNumber" type="number" [(ngModel)]="num2" placeholder="Second Number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button shape="round" size="default" (click)="add()">Calculate</ion-button>
    </ion-item>
  <ion-item  *ngIf="result > 0">
    Result: {{result}}
  </ion-item>
  </ion-list>
</ion-content>
