<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img class="imageHome" src="assets/images/Perfil3.jpg" alt="">
  <ion-card-header>
    <ion-card-title>Haroldy Jose Martinez Guzman</ion-card-title>
    <ion-card-subtitle>
      <ion-chip color="success">20210428@itla.edu.do</ion-chip>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    A Software Developer, with a passion for learning new things and sharing them with others XDDDD....
  </ion-card-content>
</ion-card>

</ion-content>
